[submodule "src/ProductService"]
	path = src/ProductService
	url = https://github.com/NotIlya4/YetAnotherMarketplace.ProductService
[submodule "src/Frontend"]
	path = src/Frontend
	url = https://github.com/NotIlya4/YetAnotherMarketplace.Frontend
[submodule "src/AccountService"]
	path = src/AccountService
	url = https://github.com/NotIlya4/YetAnotherMarketplace.AccountService
[submodule "src/Gateway"]
	path = src/Gateway
	url = https://github.com/NotIlya4/YetAnotherMarketplace.Gateway
[submodule "src/BasketService"]
	path = src/BasketService
	url = https://github.com/NotIlya4/YetAnotherMarketplace.BasketService
