<div class="card">

  <div class="card-img-top placeholder" style="height: 250px; background-color: #868e96"></div>

  <div class="card-body placeholder-glow">
    <h5 class="card-title mb-2" style="width: 80%;">
      <app-text-auto-placeholder></app-text-auto-placeholder>
    </h5>
    <p class="text-muted mb-2" style="width: 30%">
      <app-text-auto-placeholder></app-text-auto-placeholder>
    </p>
    <div class="d-flex gap-1 mb-0">
      <app-text-auto-placeholder style="width: 60%"></app-text-auto-placeholder>
      <app-text-auto-placeholder style="width: 30%"></app-text-auto-placeholder>
    </div>
    <div class="d-flex gap-1 mb-0">
      <app-text-auto-placeholder style="width: 30%"></app-text-auto-placeholder>
      <app-text-auto-placeholder style="width: 50%"></app-text-auto-placeholder>
    </div>
    <div class="d-flex gap-1 mb-0">
      <app-text-auto-placeholder style="width: 60%"></app-text-auto-placeholder>
    </div>
    <div class="d-flex gap-1 mb-0">
      <app-text-auto-placeholder style="width: 50%"></app-text-auto-placeholder>
      <app-text-auto-placeholder style="width: 40%"></app-text-auto-placeholder>
    </div>
    <div class="d-flex gap-1 mb-0">
      <app-text-auto-placeholder style="width: 20%"></app-text-auto-placeholder>
      <app-text-auto-placeholder style="width: 40%"></app-text-auto-placeholder>
    </div>
  </div>

</div>
