<div class="d-flex justify-content-center flex-wrap gap-3">
  <ng-container *ngIf="products">
    <app-product-card
      class="align-self-stretch shadow-sm"
      *ngFor="let product of products"
      [product]="product"
      style="max-width: 250px; max-height: 500px"></app-product-card>
  </ng-container>
  <ng-container *ngIf="!products">
    <app-product-card-skeleton
      class="shadow-sm"
      *ngFor="let a of getArrayFromAmount()"
      style="width: 250px;
      max-height: 500px"></app-product-card-skeleton>
  </ng-container>
</div>
