<nav class="navbar text-uppercase navbar-expand-{{mobileModThreshold}} navbar-{{colorMode}} bg-{{colorMode}} mb-3 shadow-sm fixed-top">
  <div class="container-fluid">

    <a [routerLink]="'/'">
      <img class="skinet-image" src="../../assets/logo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse navbar-nav align-items-center">
      <div class="container-fluid row justify-content-center">
        <div class="col-{{mobileModThreshold}} d-{{mobileModThreshold}}-flex justify-content-center text-center">
          <a class="nav-item nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          <a class="nav-item nav-link" [routerLink]="'/shop'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
          <a class="nav-item nav-link mb-2 mb-{{mobileModThreshold}}-0" >About</a>
        </div>
        <div class="nav-item nav-link p-0 m-0 d-flex mb-1 mb-{{mobileModThreshold}}-0 col-auto">
          <a [routerLink]="'.'" class="d-flex position-relative">
            <fa-icon [icon]="shoppingCartIcon" class="text-{{colorMode == 'light'? 'dark' : 'light'}} me-1 my-auto icon"/>
            <div class="cart-no">{{cartValue}}</div>
          </a>
          <button class="btn btn-{{colorMode}} btn-outline-{{colorMode == 'light'? 'dark' : 'light'}} ms-4">Login</button>
          <button class="btn btn-{{colorMode}} btn-outline-{{colorMode == 'light'? 'dark' : 'light'}} ms-3">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</nav>
