<nav class="navbar navbar-expand-{{mobileModThreshold}} navbar-light text-uppercase bg-opacity-100 bg-white m-0 p-0 h-100">

  <a [routerLink]="'/'" class="ms-2">
    <img class="skinet-image"
         style="width: 10em; height: auto"
         src="{{logoPictureUri}}"
         alt="">
  </a>

  <button
    class="navbar-toggler me-3" type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed" style="height: 35px">&#9776;</button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse navbar-nav align-items-center">

    <div class="col-{{mobileModThreshold}} d-{{mobileModThreshold}}-flex justify-content-center text-center">

      <a class="nav-item nav-link"
         [routerLink]="'/'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="isMenuCollapsed=true">Home</a>
      <a class="nav-item nav-link"
         [routerLink]="'/shop'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="isMenuCollapsed=true">Shop</a>
      <a class="nav-item nav-link mb-2 mb-{{mobileModThreshold}}-0"
         (click)="isMenuCollapsed=true">About</a>

    </div>

    <div class="nav-item align-items-center nav-link p-0 m-0 d-flex mb-3 mb-{{mobileModThreshold}}-0">

      <div class="d-flex position-relative me-3"
           style="aspect-ratio: 1/1; width: 3em;"
           (click)="isMenuCollapsed=true">
        <app-shopping-card-icon [routerLink]="linkProvider.basketLink" class="my-auto text-dark pointer"></app-shopping-card-icon>
        <div class="badge position-absolute translate-middle badge rounded-pill bg-primary" style="left: 67%; top: 20%">{{cartValue}}</div>
      </div>

      <app-primary-button class="me-3" (click)="isMenuCollapsed=true">Login</app-primary-button>
      <app-primary-button class="me-3" (click)="isMenuCollapsed=true">Sign Up</app-primary-button>

    </div>
  </div>

</nav>
