<div class="container">
  <div class="row">

    <section class="col-3">
      <h5 class="text-warning ml-3">Sort</h5>
      <select class="form-select mb-3" (change)="onSortingChanged($event.target)">
        <option
          *ngFor="let sorting of sortingsMapping"
          [value]="sorting.value"
        >{{sorting.name}}</option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item"
            *ngFor="let brand of brands"
            [class.active]="brand.id === this.selectedBrand.id"
            (click)="onBrandSelected(brand)">
          {{brand.name}}
        </li>
      </ul>
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item"
            *ngFor="let productType of productTypes"
            [class.active]="productType.id === this.selectedProductType.id"
            (click)="onProductTypeSelected(productType)">
          {{productType.name}}
        </li>
      </ul>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">

        <app-paging-header [currentPage]="currentPage" [pageSize]="pageSize" [objectsCount]="productsTotalCount"></app-paging-header>

        <div class="mt-2">
          <input class="form-control d-inline me-2" style="width: 300px" placeholder="Search" type="text">
          <button class="btn btn-outline-primary my-2 me-2">Search</button>
          <button class="btn btn-outline-success ml-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <app-product-item *ngFor="let product of products" [product]="product" class="col-xl-3 col-lg-4 col-md-6 mb-4"></app-product-item>
      </div>

      <div class="d-flex justify-content-center" *ngIf="productsTotalCount > 0">
        <ngb-pagination
          [boundaryLinks]="true"
          [collectionSize]="productsTotalCount"
          [maxSize]="7"
          [pageSize]="pageSize"
          [(page)]="currentPage" (pageChange)="onPageChanged($event)"/>
      </div>

    </section>
  </div>
</div>
