<app-section-header></app-section-header>

<div class="container" style="border-radius: 25px">
  <div class="row">

    <section class="col-3">
      <h5 class="text-secondary mb-2">Sort</h5>
      <select class="form-select mb-3" (change)="onSortingChanged($event.target)" style="cursor: pointer">
        <option
          *ngFor="let sorting of sortingsMapping"
          [value]="sorting.value"
          style="cursor: pointer"
        >{{sorting.name}}</option>
      </select>

      <app-tab
        tabName="Brands"
        class="mb-3 d-block"
        [tabs]="brandFilters"
        (tabSelected)="onBrandSelected($event)"/>

      <app-tab
        tabName="Product Types"
        [tabs]="productTypeFilters"
        (tabSelected)="onProductTypeSelected($event)"/>

    </section>

    <section class="col-9">

      <div class="d-flex justify-content-between align-items-center mb-3">

        <app-paging-header [currentPage]="currentPage" [pageSize]="pageSize" [objectsCount]="productsTotalCount"></app-paging-header>

        <app-search class="h-100" (searchClicked)="onSearchClicked($event)"></app-search>

      </div>

      <app-product-cards-container class="d-block" [products]="products"></app-product-cards-container>

      <div class="d-flex justify-content-center mt-3" *ngIf="productsTotalCount !== undefined && productsTotalCount > 0">
        <app-pager class="" [totalObjects]="productsTotalCount" [pageSize]="pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
      </div>

    </section>

  </div>
</div>
