/* You can add global styles to this file, and also import other style files */

body {
  min-width: 320px;
}

ul {
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

table {
  margin-bottom: 0 !important;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
