<div class="card h-100">

  <div class="position-relative image">

    <img src="{{product.pictureUrl}}" alt="" class="card-img-top">

    <div class="hover-overlay">
      <div class="btn-group d-flex align-items-center justify-content-center mx-4 h-100">
        <button class="btn btn-primary w-50 me-1" (click)="onBuyingCardClicked()"><fa-icon [icon]="shoppingCartIcon"/></button>
        <button routerLink="/shop/{{product.id}}" class="btn btn-primary ms-1 w-50">View</button>
      </div>
    </div>

    <hr class="m-0 p-0">

  </div>


  <div class="card-body d-flex flex-column pt-2">

    <div class="mb-2">
      <a routerLink="/shop/{{product.id}}" class="text-primary">{{product.name}}</a>
    </div>

    <span class="mb-2 card-subtitle text-muted">{{product.price | currency}}</span>

    <p class="card-text">{{product.description}}</p>

  </div>

</div>
