<div class="card h-100">

  <div class="position-relative image">
    <img src="{{product.pictureUrl}}" alt="" class="card-img-top">
    <div class="hover-overlay">
      <div class="btn-group d-flex align-items-center justify-content-center mx-4 h-100">
        <button appIncreaseProductsInBasket [product]="product" class="btn btn-primary w-50 me-1" style="height: 40px">
          <app-shopping-card-icon></app-shopping-card-icon>
        </button>
        <button [routerLink]="linkProvider.productDetailsLink(product.id)" style="height: 40px" class="btn btn-primary ms-1 w-50">
          View
        </button>
      </div>
    </div>
    <hr class="m-0 p-0">
  </div>


  <div class="card-body d-flex flex-column pt-2">
    <div class="mb-2">
      <app-link [routerLink]="linkProvider.productDetailsLink(product.id)">{{product.name}}</app-link>
    </div>
    <span class="mb-2 card-subtitle text-muted">{{product.price | currency}}</span>
    <p class="card-text">{{product.description}}</p>
  </div>

</div>
